@import "~scss/variables";

header {
  background: $bg-light;
  height: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 10;
  padding: $space-common;
  & > h2 {
    color: $text-dark;
  }
}
