// Font size
$font-size-xs: 1.0rem;
$font-size-s: 1.2rem;
$font-size-m: 1.4rem;
$font-size-l: 1.8rem;
$font-size-xl: 2.0rem;
$font-size-xxl: 2.6rem;

// Color
$primary-color: #123456;
// $primary-color-dark: darken($primary-color, 5%);
// $primary-color-dark: #123456;
$bg-container: white;
$bg-light: #efefef;
$bg-dark: $primary-color;
$text-dark: #333;
$text-light: #fff;
$label-dark: #777;
$label-light: #ccc;
$link-blue: #1f87c9;
$link-blue-hover: #46b4f8;
$link-disabled: #ccc;
$highlight-blue: #1f87c9;
$warning-red: #a00101;
$highlight-red: #d44343;
$success-green: #259e41;
$input-line: #ccc;
$input-line-highlight: $highlight-blue;
$input-line-error-highlight: $highlight-red;
$disabled-bg: #ccc;
$disabled-label: #999;
$border-light: #ccc;
$table-header-light: #ddd;
$table-header-dark: $primary-color;
$table-highlight: #efefef;
$table-highlight-dark: $table-header-dark;

// Lighter and darken
$darken-hover-bg: 5%;

// Margin, Padding
$space-common: 0.5rem;
$space-header: 1rem;

// Width
$std-width: 10rem;
$std-height: 2rem;
$std-diameter: 3rem;
$sidebar-width: 20rem;
$right-content-width: calc(100vw - #{$sidebar-width + $space-common * 4 * 2});

// Radius
$std-round-radius: $std-diameter / 2;
$btn-radius: 0.6rem;
$input-radius: 0.4rem;
$container-radius: 0.4rem;
$list-radius: 1rem;

// Shadow
$darken-shadow: 5%;

// Border
$border-width-common: 0.1rem;

// Button
$button-height: 0.2rem;

// Line
$line-height-s: 3rem;

// Table
$table-striped-order: odd !default;
$table-striped-nested-interval: 4 !default;
$table-border-width: $border-width-common;

// Collection
$collection-column-width-xs: 3rem;
$collection-column-width-s: 5rem;
$collection-column-width-m: 10rem;
$collection-column-width-l: 18rem;
$collection-column-width-xl: 30rem;
$collection-border-width: $border-width-common;
