@import "~scss/variables";

.form-group {
  & > input[type="text"] {
    width: 100%;
    height: $line-height-s;
    box-sizing: border-box;
    background: #fff;
    padding: $space-common;
    border: 0.1rem solid $input-line;
    border-radius: $input-radius;
    color: $text-dark;
    &:focus {
      border-color: $input-line-highlight;
    }
  }
}

