@import "variables";

app-root {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 4rem auto 2rem;
  grid-template-areas:  "header"
                        "main"
                        "footer";
  grid-gap: 0;
}

app-header {
  grid-area: header;
}

.main {
  grid-area: main;
  display: flex;
  & > .sidebar {
    flex: 0 0 20rem;
  }
  & > .content-container {
    flex: 1 1 auto;
  }
}

footer {
  grid-area: footer;

  // temp
  font-size: 1.4rem;
}

.full {
  width: 100% !important;
}

.margin-center {
  margin: 0 auto;
}
