<div class="form-container">
  <h1>{{pagetitle}}</h1>
  <hr>
  <form class="common" [formGroup]="userRegistrationForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <app-form-item [form]="userRegistrationForm" [formItem]="emailInput"></app-form-item>
      <app-form-item [form]="userRegistrationForm" [formItem]="usernameInput"></app-form-item>
    </div>
    <div class="form-row">
      <app-form-item [form]="userRegistrationForm" [formItem]="passwordInput"></app-form-item>
      <app-form-item [form]="userRegistrationForm" [formItem]="passwordConfirmationInput" [matchingItem]="passwordInput"></app-form-item>
    </div>
    <div class="button-group content-center">
        <button class="btn-function" type="submit" [disabled]="!userRegistrationForm.valid">Register</button>
    </div>
    <div *ngIf="payLoad">
      <p style="font-size: 14px; text-align: center;">{{payLoad}}</p>
    </div>
  </form>
  <button (click)="test()">Test Api</button>
</div>
