<ng-container *ngIf="menuData">
  <a [ngClass]="menuStyle" (click)="selectMenu()" [id]="menuId">
    <fa-icon [icon]="menuIconStyle" [fixedWidth]="true"></fa-icon>
    <span>{{menuData.label}}</span>
    <fa-icon *ngIf="navIconStyle.length > 0" [icon]="navIconStyle" pull="right"></fa-icon>
  </a>
  <ng-template ngFor let-nextLevelMenu [ngForOf]="menuData.nextLevel" let-i="index" [ngForTrackBy]="trackByFn">
    <div [ngClass]="nextLevelMenuGroupStyle">
      <app-sidebar-menu [menuData]="menuData.nextLevel[i]"></app-sidebar-menu>
    </div>
  </ng-template>
</ng-container>
