@import "~styles/variables";

.sidebar {
  width: 20rem;
  height: 100%;
  background: $primary-color;
  z-index: 2;
  padding: ($space-common * 4) 0;
  color: white;
  & > .sidebar-title {
    font-size: $font-size-m;
  }
}
