@import "~scss/variables";

button,
a {
  cursor: pointer;
  display: block;
  background: none;
  text-align: left;
  padding: $space-common * 2;
  color: white;
  box-sizing: content-box;
  &:link,
  &:hover,
  &:visited {
    color: white;
    text-decoration: none;
  }
  &:hover {
    background: darken($primary-color, $darken-hover-bg);
  }
}

.level-1 {
  width: 18rem;
  font-size: $font-size-l;
  font-weight: bold;
}

.level-2 {
  width: 17rem;
  font-size: $font-size-m;
  font-weight: bold;
  margin: 0 0 0 ($space-common * 2);
}

.level-3 {
  width: 16rem;
  font-size: $font-size-m;
  font-weight: normal;
  margin: 0 0 0 ($space-common * 4);
}

.collapsed {
  // display: none;
}

.expanded {
  display: block;
}

.selected {
  background: darken($primary-color, $darken-hover-bg);
}
