<div *ngIf="node && !node.children" class="sidebar-menu-item">
  <a [ngClass]="cssClasses" [routerLink]="node.link" title="{{node.tooltip}}">
    <fa-icon *ngIf="node.icon" [icon]="icon" [fixedWidth]="true"></fa-icon>
    <span>{{node.label}}</span>
  </a>
</div>
<div *ngIf="node && node.children" class="sidebar-menu-item">
  <a *ngIf="node.link != null" [ngClass]="cssClasses" [routerLink]="node.link" title="{{node.tooltip}}" (click)="clickMenuItem()">
    <fa-icon *ngIf="node.icon" [icon]="icon" [fixedWidth]="true"></fa-icon>
    <span>{{node.label}}</span>
    <fa-icon *ngIf="node.navIcon" [icon]="navIcon" rotate="{{navIconRotate}}" pull="right"></fa-icon>
  </a>
  <button *ngIf="node.link == null" type="button" [ngClass]="cssClasses" title="{{node.tooltip}}" (click)="clickMenuItem()" [attr.aria-pressed]="isExpanded">
    <fa-icon *ngIf="node.icon" [icon]="icon" [fixedWidth]="true"></fa-icon>
    <span>{{node.label}}</span>
    <fa-icon *ngIf="node.children" [icon]="navIcon" rotate="{{navIconRotate}}" pull="right"></fa-icon>
  </button>
  <div class="children-container" [ngClass]="cssClasses">
    <app-sidebar-menu-item
      *ngFor="let node of nodeChildren"
      [node]="node"
      [level]="level + 1"
      [selectedPath]="selectedPath">
    </app-sidebar-menu-item>
  </div>
</div>
