// Font size
$font-size-xs: 1.0rem;
$font-size-s: 1.2rem;
$font-size-m: 1.4rem;
$font-size-l: 1.8rem;
$font-size-xl: 2.4rem;
$font-size-xxl: 3.0rem;

// Color
$primary-color: #0d3276;
$primary-color-dark: #1d1a37;
$bg-light: #efefef;
$text-dark: #333;
$text-light: #fff;
$label-dark: #777;
$label-light: #ccc;
$link-blue: #1f87c9;
$warning-red: #a00101;
$success-green: #259e41;

// Padding
$space-common: 1rem;
