<div class="form-container">
  <form action="test">
    <div class="form-row">
      <app-form-input type="text" name="name" label="NAME" [(model)]="testModel.name"></app-form-input>
      <app-form-input type="text" name="age" label="AGE" [(model)]="testModel.age"></app-form-input>
      <app-form-select name="sex" label="SEX" [(model)]="testModel.sex"></app-form-select>
    </div>
    <div class="button-group content-center">
        <button class="btn-function" type="submit" (click)="showInput()">Show</button>
    </div>
    <div>
      <p style="font-size: 14px; text-align: center;">{{value}}</p>
    </div>
  </form>
</div>
