<div class="form-container">
  <form action="test">
    <div class="form-input-row">
      <app-form-input type="text" name="name" label="Name" [(model)]="testModel.name"></app-form-input>
      <app-form-input type="text" name="age" label="Age" [(model)]="testModel.age"></app-form-input>
      <app-form-input type="text" name="sex" label="Sex" [(model)]="testModel.sex"></app-form-input>
    </div>
    <div class="button-group content-center">
        <button class="btn-function" type="submit" (click)="showInput()">Show</button>
    </div>
    <div>
      <p style="font-size: 14px; text-align: center;">{{value}}</p>
    </div>
  </form>
</div>
